body {
  /* background: black; */
}

.navbar {
  z-index: 3;
  opacity: 0;
  background: black;
  border-bottom: .1px solid grey;
}

header .navbar {
  /* z-index: 3; */
  /* background: white !important; */
}

/* home - video */
.video-header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
  
.video-header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
 .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
  
.video-text {
  position: relative;
  z-index: 2;
}

.project {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.pastel {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


.letters {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  float: left;
  position: relative;
  font-family: 'Lato'; 
  font-weight: 100;
  text-align: center;
  transition: linear color 1s;
  /* transition: linear background .75s; */
  color: white;
  background: black;
  user-select: none;
}

.letters:hover {
  transition: linear .6s;
    /* transition: background 1s; */
  color: black;
  background: white;
}

.features-item {
  max-width: 20rem;
}






.card {
  border: 0px;
}
.card-img-top {
  border-radius: 100% !important;
}





/* home - boxes */
.box {
  width: 250px;
  height: 250px;
  height: 300px;
  border: none;
  color: white;
  background: black;
}

.box-overlay:hover {
  color: black;
  background: white;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
