body {
  /* user-select: none; */
}

.navbar {
  z-index: 3;
  opacity: 0;
  background: black;
  border-bottom: .1px solid grey;
}

.project {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.pastel {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}

.video-header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
.video-header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
 .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.video-text {
  position: relative;
  z-index: 2;
}

.letters {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  float: left;
  position: relative;
  font-family: 'Lato'; 
  font-weight: 100;
  text-align: center;
  transition: linear color 1.5s;
  /* transition: linear background .75s; */
  color: white;
  background: black;
}
.letters:hover {
  transition: linear .6s;
    /* transition: background 1s; */
  color: black;
  background: white;
}

.card {
  border: none;
  user-select: none;
}
.card-body {
  max-width: 20em;
}
.card-img-top {
  border-radius: 100% !important;
  max-width: 150px;
  cursor: pointer;
  transition: .5s;
  box-shadow: 5px 5px 10px grey;
}
.card-img-top:hover {
  transform: scale(1.15);
  transition: .5s;
}

/* credit:  https://codepen.io/dev_hendrik/ */
/* https://codepen.io/dev_hendrik/pen/RYOVzP */
.block {
  position: relative;
  background: linear-gradient(0deg, #000, #262626);
  user-select: none;
}
.shadow:before, .shadow:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  z-index: -1;
  animation: shadow 20s linear infinite;
}
.shadow:after {
  top: -6px;
  left: -6px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  filter: blur(24px);
  opacity: 0.9;
}
@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}